@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format(truetype);
}

body {
  font-family: "Roboto", sans-serif;
}

.search-icon {
  height: 30px;
  width: 30px;
  background-color: gold;
  border-radius: 50%;
}

.search-bar {
  height: 30px;
  width: 500px;
  background-color: rgb(225, 224, 224);
  border-radius: 25px;
  margin-left: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  background-color: gold;
  border-radius: 50%;
  margin: 10px;
}

#search {
  display: flex;
  flex-direction: row;
}

.group-2,
.group-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-1 {
  margin: 10px;
}

.head-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.welcome-name {
  margin-left: 1rem;
}

.welcome-name p {
  margin: 0;
}

.welcome-name p + p {
  font-size: 1.5rem;
}

.main-area {
}

button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  background-color: rgb(10, 179, 251);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 1rem;
}

.welcome {
  display: flex;
  font-display: row;
  align-items: center;
}

.img-icon {
  height: 60px;
  width: 60px;
  background-color: gold;
  border-radius: 50%;
}

.side-bar {
  background-color: rgb(10, 179, 251);
  color: white;
}

.side-bar .icon {
  background-color: white;
}

.pair {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.side-bar-group + .side-bar-group {
  margin-top: 5rem;
}
