@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.search-icon {
  height: 30px;
  width: 30px;
  background-color: gold;
  border-radius: 50%;
}

.search-bar {
  height: 30px;
  width: 500px;
  background-color: rgb(237, 237, 243);
  border-radius: 25px;
  margin-left: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 20px;
  width: 20px;
  background-color: gold;
  border-radius: 50%;
  margin: 10px;
}

#search {
  display: flex;
  flex-direction: row;
}

.group-2,
.group-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head {
  margin-left: 25px;
}

.head-1 {
  margin: 10px;
  margin-right: 25px;
}

.head-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}

.welcome-name {
  margin-left: 1rem;
}

.welcome-name p {
  margin: 0;
}

.welcome-name p + p {
  font-size: 1.5rem;
}

.main-area {
  grid-area: main-area;
  display: grid;
  grid-template-columns: [projects-start header-start] 75% [projects-end header-end notifications-start] 25% [notifications-end];
  grid-template-rows: [header-start notifications-start] 5% [header-end projects-start] 1fr [projects-end notifications-end];
  background-color: rgb(237, 237, 243);
  padding-top: 10px;
}

button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  background-color: rgb(10, 179, 251);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 30px;
  font-size: 0.9rem;
  margin: 1rem;
}

.welcome {
  display: flex;
  font-display: row;
  align-items: center;
}

.img-icon {
  height: 60px;
  width: 60px;
  background-color: gold;
  border-radius: 50%;
}

.side-bar {
  background-color: rgb(10, 179, 251);
  color: white;
  grid-column: side-bar-start / side-bar-end;
  grid-area: side-bar;
  padding: 10px;
}

.side-bar .icon {
  background-color: white;
}

.pair {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  grid-area: header;
  margin-bottom: 2rem;
}

.side-bar-group + .side-bar-group {
  margin-top: 5rem;
}

.container {
  display: grid;
  grid-template-columns: [side-bar-start] 1fr [side-bar-end head-start main-area-start] 4fr [head-end main-area-end];
  grid-template-rows: [head-start side-bar-start] 1fr [head-end main-area-start] 5fr [side-bar-end main-area-end];
}

.projects {
  grid-column: projects-start / projects-end;
}

.notifications {
  grid-area: notifications;
  background-color: rgb(237, 237, 243);
  margin-right: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 15px;
  padding: 40px 30px 10px 30px;
  border-radius: 10px;
}

.card-space {
  margin: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: projects;
}

.post-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bolder;
}

.post-content {
  margin: 0;
  font-size: 0.85rem;
  color: grey;
}

.card .icon {
  border: 1px;
  border-style: solid;
  background-color: white;
  display: flex;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.project-header,
.announcement-header {
  grid-area: header;
  font-size: 1.1rem;
}

.project-header p {
  margin: 15px;
  margin-bottom: 0;
}

.trending {
  margin-top: 40px;
}

.announcement-title {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
}

.announcement-content {
  margin: 0;
}

.announcement-header p {
  margin: 15px;
}

.announcement-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.announcement-card p + p {
  font-size: 10px;
  color: grey;
}

.announcement-row p {
  text-align: left;
  margin: 0px;
  color: lightgray;
  font-weight: lighter;
  margin-top: 10px;
}

.trending .icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.trending .title {
  margin-bottom: 2px;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  font-weight: bold;
}

.trending .vertical-group {
  display: block;
  margin-left: 10px;
}

.trending .vertical-group p + p {
  margin-top: 5px;
}

.trending .announcement-card {
  padding: 15px;
}
